<h1>Current Job Offers</h1>
<div class="search-box">
	<form method="POST" action="search" class="form-search">
		 <%= csrf_token_field %>
		<input type="text" name="q" />
		<input type="submit" value="search" id="search-button" class="btn btn-primary"/>
	</form>
	<div style="text-align: right;">
        <%= link_to 'Unfavorite All', url_for(:job_offers, :unfavorite_all), 
                    :class => "btn btn-primary", 
                    :style => "margin-bottom: 20px; width: auto;"%>
    </div>
</div>

<table class="table table-bordered">
	<tr>
		<th>Title</th>
		<th>Location</th>
    <th>Description</th>
    <th>Salary</th>
		<th>Actions</th>
		<% unless session[:current_user].nil? %>
			<th>Favorites</th>
		<% end %>
	</tr>
	<% @offers.each do | offer| %>

	<tr>
		<td>
			<%= offer.title %>
		</td>
		<td>
			<%= offer.location %>
		</td>
		<td>
			<%= offer.description %>
		</td>
    <td>
      <%= print_salary(offer) %>
    </td>
		<td>
			<%= link_to 'Apply', url_for(:job_offers, :apply, :offer_id => offer.id), :class => "btn btn-primary" %>
		</td>
		<% unless session[:current_user].nil? %>
  		<td>

				<%= link_to 'â¤', is_same_owner?(offer) ? url_for("#") : url_for(:job_offers, :mark_as_favorite, :offer_id => offer.id),
										:class => "btn #{is_favorite?(offer) ? " btn-danger" : ""} #{is_same_owner?(offer) ? "disabled" : ""}", :alt => "Favorite", :name => "Favorite", :style => "font-size: 30px;" %>
			</td>
		<% end %>
	</tr>

  <% end %>

</table>
